.CrewCard_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.teamTitle {
  font-weight: normal;
  font-size: 3rem;
  text-align: center;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .teamTitle {
    font-size: 2.5rem;
  }
  .CrewCard_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
