.footer {
  background-color: #260139;
  padding: 3rem 0 5rem 0;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.footer p {
  margin: 0;
}
.footer_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 2rem;
}
.footer_bottom p:hover,
img:hover {
  cursor: pointer;
  color: tomato;
}
.footer_item:hover {
  cursor: pointer;
  color: tomato;
}
.footer_icon {
  color: tomato;
}
.footer_img {
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .footer_bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer {
    padding: 6rem 0 6rem 0;
  }
}
